////////////////////
//      COLORS
////////////////////
$white: red;
$primary: #fff;
$secondary: #000;
$tertiary: #aaa;

$shade_black_lighter: rgba(0, 0, 0, 0.12);
$shade_black: rgba(0, 0, 0, 0.24);

////////////////////
//      SIZES
////////////////////
$zero: 0;
$xxs: 1px;
$xs: 3px;
$s: 5px;
$m: 8px;
$l: 12px;
$xl: 24px;
$xxl: 32px;
