#app-layout {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 50px 1fr;
  overflow: hidden;

  #layout-header {
    background: #fff;
    box-shadow: $shade_black_lighter $zero $xxs $xs, $shade_black $zero $xxs $xs;
    height: 100%;
    width: 100%;
  }

  #layout-content {
    height: 100%;
    width: 100%;
    overflow: auto;
  }
}
